/*about*/

#about{
	background: #665464;
}
#about-backgroung{
	background: url(../img/bg-about.png);
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}
.link-about--hover:hover{
	background: #91778e;
}
.title__btn{
	text-decoration: none;
	text-transform: uppercase;
	font-size: $fs*3;
	color: #ffffff;
	font-weight: $fwb;
	padding: 10px 40px;
	background: #a1ca6c;
	border-radius: 10px;
	position: relative;
	&:hover{
		box-shadow: inset 0 0 20px #F05547;
		color: #F05547;
		transition: 0.5s;
	}
	&:after, :before{
		content: ''; 
   	position: absolute;
   	left: 125px;
   	border: 10px solid transparent;
   	border-top: 10px solid #a1ca6c;
	}
	&:after{
		border-top: 20px solid #a1ca6c;
   	bottom: -30px;
	}
}
.members{
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
	text-align: center;
	&__member{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		width: 24%;
		background: rgba(102,84,100,0.6);
		padding: 20px;
		border-radius: 10px;
		&:hover{
			background: rgba(102,84,100,0.9);
		}
		&--round{
			width: 150px;
			height: 150px;
			background: #ffffff;
			border-radius: 50%;
			border: 7px solid #a1859e;
			padding: 3px;
			&:hover{
				border: 10px solid #df5c64;
				transition: 0.5s;
				padding: 5px;
			}
		}
		&--title{
			text-transform: uppercase;
			font-size: $fs*3;
			margin-bottom: -10px;
		}
		&--text{
			color: #9dc36b;
			font-size: $fs+6;
		}
	}
}
.socbar{
	width: 100%;
	display: flex;
	justify-content: space-around;
	&__round{
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #a1859e;
		color: #ffffff;
		font-size: $fs*2.5;
		&--facebook:hover{
			background: #4f689e;
			transition: 0.5s;
		}
		&--twitter:hover{
			background: #74c7d5;
			transition: 0.5s;
		}
		&--google:hover{
			background: #df5c64;
			transition: 0.5s;
		}
		&--lindekin:hover{
			background: #3e61af;
			transition: 0.5s;
		}
	}
}

/*about media*/
@media screen and (max-width: 1200px){
	.container{
		width: 90%;
	}
}
@media screen and (max-width: 768px){
	.members{
		flex-wrap: wrap;
		&__member{
			width: 45%;
			margin-top: 20px;
		}
	}
}
@media screen and (max-width: 576px){
	.members__member{
		width: 75%;
		margin: 0 auto;
	}
}